/*CSS Reset*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	/*alternative fonts:  serif, cursive, fantasy, monospace*/
}

nav {
	/*0.8rem = 12.8px based on the root element (16px)*/
	/*shorthand property*/
	padding: 0.8rem;
	/*properties that make up padding property
	padding-top:  0.8rem;
	padding-bottom:  0.8rem;
	padding-left:  0.8rem;
	padding-right:  0.8rem;
	*/

	/*creates space between the nav and intro section*/
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
}

nav > ul  > li {
		/*remove bullet points*/
	list-style-type: none;
}

/*descendant selector*/
nav .nav, nav .nav-logo {
	margin: 0.5rem;
	/*li elemnts turn into inline elements, default behaviour of li block elements*/
	display: inline;
}

#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;

	/*shorthand property
	padding:  top left&right bottom;
	*/

	text-align: center;
}

.header {
	text-align: center;
}

#intro h2,
#intro p {
	margin-bottom: 1rem;
}

#intro button {
	background-color: #c2195b;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	padding:  0.5rem;
	border-radius: 25px;
}

#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info h2 {
	margin-bottom: 1rem;
}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card{
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

footer {
	padding: 0.7rem;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	/*margin:  top&bottom, left&right*/
}


#pre-footer {
	background-color: #002540;
	color: white;
	
}
#pre-footer h3 {
	text-align: left;
	margin-bottom: 0.5rem;
	font-weight: bold;
}

#pre-footer p {
	text-align: left;
	margin-bottom: 0.5rem;

}

#pre-footer div {
	display: inline-block;
	/*vertical-align: bottom;*/
	min-height: 100px;
	width: 20%;
	margin-left: 1rem;
	margin-right: 1rem;
	margin-top: 1.5rem;
	margin-bottom: 0.75rem;
}
